		<!-- Preloader -->
		<div id="preloader" style="display: none;">
			<div id="status" class="text-center" style="display: none;">
				<div class="spinner">
				  <div class="rect1"></div>
				  <div class="rect2"></div>
				  <div class="rect3"></div>
				  <div class="rect4"></div>
				  <div class="rect5"></div>
				</div>
			</div>
		</div>
		
		<!-- Language -->
		<%= render "language_selector" %>

		<!-- Main -->
		<section class="main text-center" id="home" style="background-color:#3F51B5">
			<div class="page">
				<div class="wrapper">
					<div class="container">
						<%= image_tag "logo.png", :alt => "logo", :width => 400, :class => "img-responsive-small" %>
						<h1 class="heading">Your new worldwide desk</h1>
						<p>
							We will make it happen
						</p>
						<div class="row">
							<div id="countdown-due">2015/5/15</div>
							<div id="countdown"><div class="countdown-section"><b>12</b> <span>weeks</span> </div><div class="countdown-section"><b>06</b> <span>days</span> </div><div class="countdown-section"><b>14</b> <span>hours</span> </div><div class="countdown-section"><b>32</b> <span>minutes</span> </div><div class="countdown-section"><b>28</b> <span>seconds</span> </div></div>
						</div>

						<div class="subscribe">
							<div class="row">
								<div class="col-sm-6">
									<div class="btn">
											<a class="typeform-share link" href="https://hervetatche.typeform.com/to/WXAVoF" data-mode="1" target="_blank">I am a NOMAD</a>
											<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="btn">
											<a class="typeform-share link" href="https://hervetatche.typeform.com/to/RekfXk" data-mode="1" target="_blank">I will HOST</a>
											<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
									</div>
								</div>							
							</div>
								
						</div>

						<input type="hidden" value=""></form>
						<footer class="text-center">
							<div class="social">
								<a href="https://www.facebook.com/nomadstays" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/nomadstays" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
								<a href="https://plus.google.com/u/0/b/110133156408126953660/110133156408126953660/about" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
							</div>
						</footer>
					</div>
					<div class="arrow-down">
						<a class="scroll" href="#everything" id="scroll"><i class="fa fa-angle-double-down"></i></a>
					</div>
				</div>
			</div>
		</section>

		<!-- Anything -->
		<section id="everything" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Everything</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<%= image_tag "Everything_03.png", :alt => "Everything", :width => "400", :class => "img-responsive-small" %>
					</div>
					<div class="col-sm-6">
						<p class="lead">
							<strong>Ready to work</strong> is our motto.

						</p>
						<p>Grabbing a coffee before starting the day, staying fit,
							 or being connected since day one should be possible while you are away.
						</p>	 
						<p>		 
							 Only houses that are close to all those services will be listed
							 so you are sure that you can actually live and work from that place.
						</p>
						<p>
							 We call them Nomad Stays !
						</p>
					</div>
				</div>
			</div>
		</section>

		<!-- Anywhere -->
		<section id="anywhere" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Anywhere</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p class="lead">
							<strong>Book</strong> your home for the next 1 to 3 months, stay more if you like it !

						</p>
						<p>
							You are a designer, developer, writer, entrepreneur, or just held an office job. You should
							be able to jump over your desk, take your laptop or smartphone, and start working from anywhere else. Anywhere, really.
						</p>				
					</div>
				</div>
			</div>
			<div class="google-maps-container">
				<div id="cities-carroussel">
				  <div class="item"><iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=13.7563%2C100.5018&key=AIzaSyCL0luT17PgvuWglbUMeVBGenoB0XrKMUM"></iframe> </div>

				  <div class="item"><iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=12&center=-17.3833%2C-66.1667&key=AIzaSyCL0luT17PgvuWglbUMeVBGenoB0XrKMUM"></iframe> </div>

				  <div class="item"><iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=10&center=52.2297,21.0122&key=AIzaSyCL0luT17PgvuWglbUMeVBGenoB0XrKMUM"></iframe> </div>

				</div>							
			</div>				
		</section>
		
		<!-- Social -->
		<section id="social" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Social</h3>
						<div class="section-title-border"></div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">			
						<p class="lead">
							<strong>Meet</strong> other nomads
						</p>
						<p>Sometimes you meet fantastic people in the most
							 unexpected places, do not miss the opportunity
							 to share brilliant ideas with them.
						</p>	 
						<p>		 
							 Our dream is to build a strong network of remote workers.
							 You are not alone.
						</p>
					</div>
				</div>	

				<div class="row">
					<div class="col-sm-12">			
						<%= image_tag "City-Search_01.png", :class => "img-responsive-small" %>
					</div>			
				</div>
					
			</div>
		</section>
		
		<!-- Contact -->
		<section id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="section-title">Who am I</h3>
						<div class="section-title-border"></div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="myself">
							<a href="http://blog.thistimeisforgood.com/"> <%= image_tag "http://www.gravatar.com/avatar/cc4b0c9de39095e1d04a8257246a9a09.png", :class => "gravatar" %> </a>
							<h4> <a href="http://blog.thistimeisforgood.com/"> @htatche </a> </h4>
								<div class="social">
									<a href="https://twitter.com/htatche" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
									<a href="https://www.linkedin.com/profile/view?id=82546010" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
									<a href="https://github.com/htatche" class="btn btn-theme"><i class="fa fa-github"></i></a>
								</div>						
								<p class="description">
									Two years ago I packed my laptop and left my hometown,
									after hopping between several countries it's in Bolivia where
									I am kicking off my dream.
									<strong>Travel</strong>, <strong>work</strong>, <strong>enjoy</strong>.
								</p>
						</div>
					</div>
					<div class="col-sm-6">
						<form class="form-horizontal bv-form" action="/contact" method="post" role="form" id="contactForm" novalidate="novalidate">
							<div class="form-group has-feedback">
								<div class="col-sm-6">
									<input type="text" name="name" class="form-control" placeholder="Name" data-bv-field="name"><i class="form-control-feedback" data-bv-icon-for="name" style="display: none; top: 0px;"></i>	
								<small data-bv-validator="notEmpty" data-bv-validator-for="name" class="help-block" style="display: none;">Name cannot be empty</small><small data-bv-validator="stringLength" data-bv-validator-for="name" class="help-block" style="display: none;">Name must be more than 6 and less than 30 characters long</small><small data-bv-validator="regexp" data-bv-validator-for="name" class="help-block" style="display: none;">Name can only consist alphabetical characters</small></div>
								<div class="col-sm-6">
									<input type="text" name="contactEmail" class="form-control" placeholder="Email" data-bv-field="contactEmail"><i class="form-control-feedback" data-bv-icon-for="contactEmail" style="display: none; top: 0px;"></i>
								<small data-bv-validator="notEmpty" data-bv-validator-for="contactEmail" class="help-block" style="display: none;">Email cannot be empty</small><small data-bv-validator="emailAddress" data-bv-validator-for="contactEmail" class="help-block" style="display: none;">The input is not a valid email address</small></div>
							</div>
							<div class="form-group has-feedback">
								<div class="col-sm-12">
									<textarea name="message" class="form-control" rows="8" placeholder="Message" data-bv-field="message">Hey Herve ! I found out about this new venture and would like to get in touch with you !
									</textarea>
									<i class="form-control-feedback" data-bv-icon-for="message" style="display: none; top: 0px;"></i>
								<small data-bv-validator="notEmpty" data-bv-validator-for="message" class="help-block" style="display: none;">Message cannot be empty</small></div>
							</div>
							<div class="form-group">
								<div class="col-sm-12">
									<button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
										<span class="ladda-label">Submit</span>
									</button>
								</div>
							</div>
						<input type="hidden" value=""></form>
					</div>
				</div>
			</div>
		</section>
		
 	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		