<!DOCTYPE html>
<html lang="en" data-ember-extension="1"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="NomadStays - Your new worldwide office">
		<title>NomadStays - Your new worldwide office</title>
		
  	<%#= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  	<%= stylesheet_link_tag    "bootstrap.min", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "font-awesome.min", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "bootstrapValidator.min", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "ladda-themeless.min", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "animate.min", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "owl.carousel", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "owl.theme", media: "all", "data-turbolinks-track" => true %>
  	<%= stylesheet_link_tag    "app", media: "all", "data-turbolinks-track" => true %>

  	<%= csrf_meta_tags %>
  	
<!-- 		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/font-awesome.min.css" rel="stylesheet">
		<link href="stylesheets/bootstrapValidator.min.css" rel="stylesheet">
		<link href="stylesheets/ladda-themeless.min.css" rel="stylesheet">
		<link href="stylesheets/animate.min.css" rel="stylesheet">
		<link href="stylesheets/owl.carousel.css" rel="stylesheet">
		<link href="stylesheets/owl.theme.css" rel="stylesheet">
		<link href="stylesheets/app.css" rel="stylesheet"> -->

		<!-- Favicon -->
		<!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon"> -->
		<!-- <link rel="icon" href="images/favicon.ico" type="image/x-icon"> -->

	</head>


<body style="overflow: visible;  background-color:#3F51B5">

<%= yield %>

</body>
</html>
